<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }
  .search-btn i {
    margin-right: 0.5rem;
  }
  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 1rem;
    font-size: 1rem;
  }
  .project-title {
    color: #fe424d;
    margin-right: 15px;
    font-size: 1.5rem; /* Adjust font size as needed */
  }
  /* Ensure navbar background is white */
  .navbar {
    background-color: white !important;
  }
  .container-fluid{
    background-color: white !important;
  }
  /* Adjust navbar toggler background and icon color */
  .navbar-toggler {
    background-color: #fe424d;
    border-color: #fe424d;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0,0,0,.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  /* Adjust position of navbar toggler content */
  .navbar-toggler {
    order: 2; /* Ensure the toggler is displayed after the brand content */
  }
</style>

<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center order-1" href="/listings">
      <i class="fa-solid fa-compass me-2"></i>
      <span class="project-title">Wonderers</span>
    </a>
    <button class="navbar-toggler ms-auto me-3 order-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse order-3" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" action="/listings/search" method="GET">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search destination" name="query">
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i> Search
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your Home</a>
        <% if(!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a> 
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if(currUser) { %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

<script>
  // Add any additional JavaScript functionality here if needed
</script>
